<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  Note! Using 'html-webpack-template' in lieu of this template.
</body>
</html>