.parsing-textbox {

  .parsing-textbox__bottom-bar {
    padding-top: $padding-small;
  }

  .parsing-textbox__save-button-col {
    text-align: right;
  }

  .parsing-textbox__save-time {
    font-size: $font-small;
    color: $date-font-color;
  }

}
