$theme-color: orange;
$secondary-color: white;
$main-font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


$padding-normal: 8px;
$padding-small: 4px;
$padding-large: 16px;

$font-larger: 14pt;
$font-regular: 12pt;
$font-smaller: 10pt;
$font-small: 8pt;

$date-font-color: gray;
